<ion-header>
  <ion-toolbar>
    <ion-title>
      Photo Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.photos">
        <img [src]="photo.data" />
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <!-- <ion-slides>
    <ion-row >
      <ion-col size="6" *ngFor="let photo of photoService.photos">
        <img [src]="photo.data" />
      </ion-col>
    </ion-row>
  </ion-slides> -->

  <ion-slides pager="true" [options]="sliderConfig">
    <ion-slide *ngFor="let photo of photoService.photos">
      <ion-card>
        <!-- <ion-img [src]="photo.data"></ion-img> -->
        <img (click)="photoService.deletePhoto(photo)" [src]="photo.data" />
      </ion-card>
    </ion-slide>
  </ion-slides>

  <div></div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="photoService.takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- <ion-fab vertical="bottom" horizontal="right" slot="fixed">
    <ion-fab-button (click)="testRoute()">
      <ion-icon name="airplane"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>